.inventory{
    position: fixed;
    bottom: 0;
    width: 100%
}

.shop{
    display: none;
}

.weaponsdepart{
    position: relative;
    left: 150px;
    top: -95px;
}

.main{
    display: inline;
}

.dagger{
    display: inline;
}