body{
    background-color:#121212;
}

.inventory{
    position: fixed;
    bottom: 0;
    width: 50%
}

.shop{
    display: none;
}

.weaponsdepart{
    position: absolute;
    bottom: 21.5%;
}

.rein{
    position: absolute;
    left: 60%;
    top: 5%;
    text-align: center;
    width: 150px;
    height: 50px;
    display: none;
}

.slimecss{
    position: absolute;
    left: 46.2%;
    text-align: center;
    width: 150px;
    height: 50px;
}

.boarcss{
    position: absolute;
    left: 46.2%;
    top: 20%;
    text-align: center;
    width: 150px;
    height: 50px;
}

.goblincss{
    position: absolute;
    left: 46.2%;
    top: 26.45%;
    width: 150px;
    height: 50px;
}

.main{
    display: none;
    text-align: center;
    margin: auto;
    color: white;
    user-select: none;
}

.dagger{
    display: inline;
}

.sword{
    display: none;
}

.inventory{
    display: none;
    color: white;
}

.select{
    display: none;
    color: white;
    user-select: none;
}

.choose{
    text-align: center;
}

.buttons{
    text-align: center;
}

.developer{
    position: fixed;
    right: 0;
    bottom: 0;
}

.devgold{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 25px;
    display: none;
}

.devlevel{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    display: none;
}

.devrein{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 75px;
    display: none;
}

.warriorclass{
    display: none;
}

.assassinclass{
    display: none;
}

.mageclass{
    display: none;
}

.sharpdagger{
    display: none;
}

.metalstaff{
    display: none;
}

.wolfdagger{
    display: none;
}

.greatsword{
    display: none;
}

.woodstaff{
    display: none;
}

.dev{
    display: none;
}

.loadgame{
    display: inline;
}