.inventory{
    position: fixed;
    bottom: 0;
    width: 50%
}

.shop{
    display: none;
}

.weaponsdepart{
    position: relative;
    left: 150px;
    top: -95px;
}

.main{
    display: none;
}

.dagger{
    display: inline;
}

.sword{
    display: none;
}

.inventory{
    display: none;
}

.select{
    display: inline;
}

.choose{
    text-align: center;
}

.buttons{
    text-align: center;
}

.developer{
    position: fixed;
    right: 0;
    bottom: 0;
}

.devgold{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 25px;
    display: none;
}

.devlevel{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 50px;
    display: none;
}

.warriorclass{
    display: none;
}

.assassinclass{
    display: none;
}

.mageclass{
    display: none;
}

.sharpdagger{
    display: none;
}

.woodstaff{
    display: none;
}